node_modules
dist
.env
.env.local
*.log
.git
.gitignore
.npm
.npmrc
.pnpm-store
.prisma
.cache
coverage
.idea
.vscode
*.swp
*.swo
.DS_Store
*.md
docker-compose*.yml
Dockerfile
Makefile
test
__tests__
*.spec.ts
*.test.ts
